# Python
__pycache__/
*.py[cod]
*$py.class

# Временные файлы
*.png
*.json
*.log

# Виртуальное окружение
venv/
env/
.env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# About project
about.md
